.container {
  width: 100%;
  height: 180px;
  background: url("/images/discount/IndependenceDayBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 64px 0 32px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px gray;
  position: relative;
  z-index: 0;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.15);
}
.contentContainer {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: 6px;
}

.heading1 {
  color: var(--white-color);
  color: #0E3A77;
  font-size: 28px;
  font-weight: 600;
  background-color: red;
  background: rgb(94, 0, 1);
  background: linear-gradient(
    51deg,
    #FF6821 0%,
    #FF6821 25%,
    #fff 50%,
    #036A38 90%,
    #036A38 100%
  );
  /* background-color: var(--primary-color); */
  padding: 0 16px;
  border: 2px solid white;
}
.heading2 {
  color: rgb(0, 0, 0);
  background-color: var(--white-color); 
  background-color: rgb(160, 24, 26); 
  color: #fff;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .heading1 {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .heading1 {
    padding: 0 12px;
    font-size: 24px;
  }
  .heading2 {
    padding: 0 12px;
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .heading1 {
    padding: 0 10px;
    font-size: 20px;
  }
  .heading2 {
    padding: 0 10px;
    font-size: 12px;
  }
}
