.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  padding: 56px 0;
}

.heading {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.text {
  font-size: 36px;
  text-align: center;
}

.bold {
  font-weight: 600;
}

@media (max-width: 600px) {
  .text {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .text {
    text-align: center;
    width: 100%;
  }
}
