.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 90%;
  border-radius: 50px;
  background-color: rgb(176, 168, 161, 0.75);
  z-index: 10;
  padding: 36px 0;
}

.label {
  /* width: 80%; */
  font-size: 32px;
  color: #f4f4f4;
  font-weight: 600;
  margin: 16px 4px;
  border-bottom: 3px solid #f4f4f4;
}

.input {
  width: 85%;
  max-width: 85%;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  border-radius: 28px;
  border: none;
  padding: 12px 16px;
  margin: 8px 0;
  font-family: inherit;
  color: #757575;
}

.errorMessage {
  width: 80%;
  color: red;
  font-size: 13px;
}

.input::placeholder,
.textArea::placeholder {
  color: #7b7b7b;
}
.textArea {
  color: #757575;
  font-family: inherit;
  width: 85%;
  max-width: 85%;
  font-size: 15px;
  padding: 10px 16px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  border-radius: 20px;
  border: none;
  margin: 10px 0;
  height: 90px;
}

.button {
  display: flex;
  color: white;
  background-color: rgb(254, 173, 22);
  border-radius: 28px;
  cursor: pointer;
  padding: 12px 0;
  font-size: 16px;
  outline: none;
  border: none;
  width: 60%;
  justify-content: center;
  margin-top: 12px;
  transition: background-color 200ms ease-in-out;
}

.button.loading {
  padding: 2px 0;
}

.button:hover {
  background-color: black;
}

@media (max-width: 1275px) and (min-width: 1001px) {
  .form {
    width: 85%;
    padding: 24px 0;
  }
  .label {
    font-size: 30px;
    margin: 16px 0;
  }
  .input,
  .textArea {
    font-size: 14px;
    padding: 10px 16px;
    margin: 8px 0;
  }
  .button {
    margin-top: 12px;
    font-size: 15px;
    padding: 12px 0;
    margin-top: 10px;
  }
}

@media (max-width: 1000px) and (min-width: 801px) {
  .form {
    padding: 18px 0;
    width: 80%;
    min-width: 80%;
  }
  .label {
    font-size: 24px;
    margin: 12px 0 28px 0;
  }
  .input,
  .textArea {
    font-size: 13px;
    padding: 8px 14px;
    margin: 8px 0;
  }
  .button {
    margin-top: 12px;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 8px;
  }
}

@media (max-width: 801px) and (min-width: 601px) {
  .form {
    width: 85%;
    padding: 20px 0;
    min-width: 85%;
  }
  .label {
    font-size: 24px;
    margin: 12px 0 28px 0;
  }
  .input,
  .textArea {
    font-size: 12px;
    padding: 12px 16px;
    margin: 8px 0;
  }
  .button {
    margin-top: 12px;
    font-size: 14px;
    padding: 10px 0;
    margin-top: 8px;
  }
}

@media (max-width: 600px) {
  .form {
    width: 100%;
    min-width: 100%;
    padding: 18px 0;
  }
  .label {
    font-size: 24px;
    margin: 12px 0 28px 0;
  }
  .input,
  .textArea {
    font-size: 12px;
    padding: 12px 16px;
    margin: 8px 0;
  }
  .textArea {
    max-height: 80px;
  }
  .button {
    font-size: 12px;
    margin-top: 6px;
    padding: 10px 0;
  }
  .errorMessage {
    font-size: 12px;
  }
}
