.button {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  background-color: white;
  color: black;
  border-radius: 24px;
  cursor: pointer;
  font-size: 17px;
  gap: 6px;
  margin: 24px;
}

.button:hover {
  background-color: rgb(254, 173, 22);
  color: white;
}

@media (max-width: 1000px) and (min-width: 601px) {
  .button {
    padding: 8px 28px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .button {
    font-size: 15px;
    padding: 8px 28px;
  }
}
