.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 44px 0;
  position: relative;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
}

.heading0 {
  margin: 24px 0;
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
}

.heading0 > p {
  gap: 8px;
}
.bold {
  font-weight: 600;
  margin-left: 8px;
}

.heading1 {
  font-weight: 500;
  text-align: center;
  font-size: 28px;
}
.heading2 {
  font-weight: 500;
  font-size: 16px;
}

.priceContainer {
  max-width: 1280px;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.imagesContainer {
  position: relative;
  width: 50%;
}

.image {
  object-fit: contain;
}

@media (max-width: 1250px) and (min-width: 1001px) {
  .priceContainer {
    width: 95%;
  }
  .imagesContainer {
    width: 40%;
  }
  .heading0 {
    font-size: 28px;
  }
}
@media (max-width: 1000px) {
  .priceContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
  .imagesContainer {
    width: 100%;
    height: 300px;
  }
  .heading0 {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .heading1 {
    font-size: 24px;
  }
  .heading2 {
    font-size: 14px;
  }
  .priceContainer {
    width: 96%;
  }
  .heading0 {
    font-size: 24px;
  }
}
