.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 8px 0;
  color: white;
  border-radius: 28px;
  cursor: pointer;
  background-color: rgba(233, 157, 24, 1);
  transition: background-color 0.4s ease;
  margin: 12px 0;
  font-size: 14px;
  width: 100%;
  gap: 4px;
}

.button:hover {
  background: linear-gradient(
    to right,
    rgba(233, 157, 24, 1) 50%,
    black 50%
  ); /* Reverse gradient */
  background-size: 200% 100%;
  transition: background-position 0.4s;
  background-position: -100% 0;
  color: white;
}

@media (max-width: 1450px) and (min-width: 1250px) {
  .button {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .button {
    padding: 8px 18px;
    font-size: 13px;
  }
}
