.container {
  position: fixed;
  left: 0;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: white;
  border-radius: 0 12px 12px 0;
  box-shadow: 0 0 10px gray;
}

.icon {
  display: flex;
  cursor: pointer;
  padding: 4px;
  margin: 2px;
  transition: transform 100ms ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .container {
    top: 60%;
  }
}
