.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  max-width: 90px;
  cursor: pointer;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-radius: 50%;
  transition: transform 250ms ease-in-out;
  /* transition: background-color 100ms ease-in-out; */
}

.image {
  width: 60%;
  height: 60%;
}

.name {
  font-weight: 500;
  font-size: 13px;
  margin: 12px 0;
}

.imageContainer:hover {
  transform: scale(1.15);
  background-color: gray;
}

@media (max-width: 1275px) and (min-width: 1000px) {
  .imageContainer {
    width: 85px;
    height: 85px;
  }
  .image {
    width: 55%;
    height: 55%;
  }
}
@media (max-width: 1000px) and (min-width: 601px) {
  .imageContainer {
    width: 80px;
    height: 80px;
  }
  .image {
    width: 55%;
    height: 55%;
  }
}
@media (max-width: 600px) {
  .imageContainer {
    width: 70px;
    height: 70px;
  }
  .image {
    width: 55%;
    height: 55%;
  }
  .name {
    font-size: 11px;
  }
}
@media (max-width: 400px) {
  .imageContainer {
    width: 75px;
    height: 75px;
  }
  .image {
    width: 60%;
    height: 60%;
  }
  .name {
    font-size: 11px;
  }
}
