.whatsapp {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 64px;
  max-height: 64px;
  min-width: 50px;
  min-height: 50px;
  padding: 12px;
  bottom: 16px;
  left: 16px;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  z-index: 5;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.whatsapp:hover {
  box-shadow: 0 0 10px gray;
  background-color: #25d366;
}

.whatsapp:hover .icon {
  color: white;
}

.icon {
  transition: color 200ms ease-in-out;
  color: #25d366;
}

@media (max-width: 1275px) and (min-width: 1001px) {
}

@media (max-width: 1000px) and (min-width: 601px) {
}

@media (max-width: 600px) {
  .whatsapp {
    padding: 10px;
  }
}
