.container {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 80%;
  max-width: 80%;
  min-width: 250px;
  margin: 32px 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.container.right {
  justify-content: flex-end;
}

.heading {
  font-weight: 500;
  font-size: 20px;
  margin: 16px 0 12px 0;
}
.text {
  font-size: 14px;
  color: #404040;
}

.text.right,
.heading.right {
  text-align: right;
}
.gradientText {
  margin-bottom: 8px;
  background-image: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(233, 157, 24, 1) 0%,
    rgba(245, 40, 185, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.color {
  color: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(233, 157, 24, 1) 0%,
    rgba(245, 40, 185, 1) 100%
  );
}

@media (max-width: 800px) {
  .text {
    font-size: 13px;
  }
  .heading {
    font-size: 18px;
  }
  .container {
    width: 98%;
    max-width: 98%;
  }
  .contentContainer {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .container {
    gap: 20px;
  }
  .heading {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  .container {
    gap: 18px;
  }
  .heading {
    font-size: 16px;
  }
  .text {
    font-size: 12px;
  }
}
