.container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 30%;
  max-width: 30%;
  min-width: 250px;
  margin: 0 10px 24px 10px;
  box-sizing: border-box;
  padding: 32px 28px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1),
    3px 3px 8px rgba(0, 0, 0, 0.1), 4px 4px 16px rgba(0, 0, 0, 0.1);
}

.heading {
  font-weight: 600;
  font-size: 17px;
  margin: 16px 0 12px 0;
}
.text {
  font-size: 14px;
}

.icon {
}

.gradientText {
  margin-bottom: 8px;
  background-image: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(233, 157, 24, 1) 0%,
    rgba(245, 40, 185, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.color {
  color: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(233, 157, 24, 1) 0%,
    rgba(245, 40, 185, 1) 100%
  );
}

@media (max-width: 550px) {
  .container {
    width: 80%;
    max-width: 80%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 90%;
    max-width: 90%;
  }
  .text {
    font-size: 12.5px;
  }
}
