.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  align-items: center;
  width: 94%;
  height: 500px;
  padding-top: 50px;
  flex-direction: column;
  max-width: 1280px;
  text-align: center;
}

.goBackButton {
  margin: 32px 0;
  background-color: var(--primary-color-light);
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  padding: 8px 18px;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
}

.goBackButton:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
}

@media (max-width: 800px) {
  .goBackButton {
    margin: 28px 0;
    font-size: 15px;
    padding: 7px 16px;
  }
}

@media (max-width: 400px) {
  .goBackButton {
    margin: 24px 0;
    font-size: 14px;
    padding: 6px 14px;
  }
}
