.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 56px 0 72px 0;
}

.contentContainer {
  display: grid;
  width: 90%;
  justify-content: space-between;
  row-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 300px)); */
}

@media only screen and (min-width: 1024px) {
  .contentContainer {
    max-width: 1280px;
  }
}

@media (max-width: 576px) {
  .contentContainer {
    grid-template-columns: 1fr;
  }
}

/* Show 2 items per row on medium screens */
@media (min-width: 577px) and (max-width: 992px) {
  .contentContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
