.container {
  width: 100%;
}

.heading0 {
  font-size: 36px;
  margin-bottom: 44px;
  text-align: center;
}

.heading0 > span {
  font-weight: 600;
}
.container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 32px 0;
  align-items: center;
}

.heading {
  display: flex;
  gap: 8px;
  margin: 24px 0 36px 0;
  font-size: 32px;
}

.heading1 {
  font-weight: 700;
  text-align: center;
}
.heading2 {
  font-weight: 400;
  text-align: center;
}

.cardContainer {
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 36px 0;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1 {
  color: rgb(78, 78, 78);
  width: 90%;
  padding: 12px 0;
}

.textArea {
  background-color: #eeeeee;
  padding: 24px 0;
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.text2 {
  color: rgb(78, 78, 78);
  width: 90%;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: 12px 0; */
}

.bold {
  font-weight: 600;
}

.points {
  line-height: 1.5;
}
.point {
  margin: 8px 0;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 26px;
  }
  .heading0 {
    font-size: 28px;
  }
}
@media (max-width: 1000px) {
  .heading {
    font-size: 22px;
  }
  .heading0 {
    font-size: 24px;
  }
}
@media (max-width: 800px) {
  .heading {
    /* flex-direction: column; */
    align-items: center;
  }
  .heading1 {
    font-size: 24px;
  }
  .heading2 {
    font-size: 22px;
  }
  .cardContainer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .heading {
    margin: 18px 0 24px 0;
  }
  .heading0 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .heading2 {
    font-size: 20px;
  }
  .text {
    font-size: 15px;
  }
  .heading {
    font-size: 22px;
  }
  .point {
    margin: 6px 0;
  }
}
