.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 56px 0;
}

.innerContainer {
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 24px 0;
}

.rightBox {
  width: 100%;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 16px;
  margin: 12px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: rgb(252, 171, 20);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgb(252, 171, 20);
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  /* color: rgb(232, 157, 18);
    border-color: rgb(232, 157, 18); */
  color: white;
  background-color: rgb(252, 171, 20);
  border-color: rgb(252, 171, 20);
}
